[submodule "front-cadriciel"]
	path = front-cadriciel
	url = https://github.com/Sacha37420/front-cadriciel.git
[submodule "spring-app"]
	path = spring-app
	url = https://github.com/Sacha37420/spring-app.git
[submodule "table-manager"]
	path = table-manager
	url = https://github.com/Sacha37420/table-manager.git
[submodule "analyse-lora"]
	path = analyse-lora
	url = https://github.com/Sacha37420/analyse-lora.git
[submodule "app-builder"]
	path = app-builder
	url = https://github.com/Sacha37420/app-builder.git
[submodule "restauration"]
	path = restauration
	url = https://github.com/Sacha37420/restauration.git
[submodule "traitement-de-fichiers-compils"]
	path = traitement-de-fichiers-compils
	url = https://github.com/Sacha37420/traitement-de-fichiers-compils.git
[submodule "arbre-genealogique"]
	path = arbre-genealogique
	url = https://github.com/Sacha37420/arbre-genealogique.git
[submodule "carto-lab"]
	path = carto-lab
	url = https://github.com/Sacha37420/carto-lab.git
[submodule "lab-admin"]
	path = lab-admin
	url = https://github.com/Sacha37420/lab-admin.git
