[submodule "front-cadriciel"]
	path = front-cadriciel
	url = https://github.com/Sacha37420/front-cadriciel.git
[submodule "spring-app"]
	path = spring-app
	url = https://github.com/Sacha37420/spring-app.git
[submodule "table-manager"]
	path = table-manager
	url = https://github.com/Sacha37420/table-manager.git
[submodule "analyse-lora"]
	path = analyse-lora
	url = https://github.com/Sacha37420/analyse-lora.git
[submodule "app-builder"]
	path = app-builder
	url = https://github.com/Sacha37420/app-builder.git
[submodule "restauration"]
	path = restauration
	url = https://github.com/Sacha37420/restauration.git
