# ── Ports utilisés ───────────────────────────────────────────────
HPORT_POSTGRES=5432
PORT_PGADMIN=5050
PORT_KEYCLOAK=8080

# ── PostgreSQL ───────────────────────────────────────────────────
POSTGRES_DB=devdb
POSTGRES_USER=devuser
POSTGRES_PASSWORD=CHANGE_ME

# ── pgAdmin — compte bootstrap ────────────────────────────────────
PGADMIN_DEFAULT_EMAIL=admin@pgadmin.com
PGADMIN_DEFAULT_PASSWORD=CHANGE_ME

# ── pgAdmin — OAuth2 Keycloak ─────────────────────────────────────
# Généré automatiquement par create-app-client.sh
KEYCLOAK_CLIENT_SECRET=CHANGE_ME

SERVER_URL_LAN=http://192.168.1.X
SERVER_URL_WAN=http://VOTRE_IP_WAN
KEYCLOAK_URL=http://192.168.1.X:8080
KEYCLOAK_REALM=ssolab
KEYCLOAK_CLIENT_ID=infra
KEYCLOAK_ISSUER_URI=http://192.168.1.X:8080/realms/ssolab
